<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="Keywords" content="jamenco, find, concert, search engine, jamendo, api" />
  <meta name="Description" content="Jamenco, find concerts near your place" />
  <title>Jamenco</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
	<div id="page">
		<nav class="top-bar">

      <div class="header_content center">
  			<div class="logo float"><img src="img/logo_header.png" /></div> 
        <form class="header_form float">
          <input type="text" class="float" placeholder="TYPE YOUR PLACE HERE..." value="SHANGHAI" />
          <input type="submit" class="float green_stripped" value="FIND!" />
        </form>
        <div class="clear"></div> 
      </div> 

			<div class="glossy_header"></div> 
			<div class="red_bar"></div> 
		</nav>

      <div class="row">
         <div class="small-12 columns result_label"><h3>For SHANGHAI, I found 5 upcoming concerts :</h3></div>
       </div>
			<div class="row content result_listing ">

        <div class="row concert_row">
          <div class="small-1 columns height"></div>
          <div class="small-10 columns concert_item">
            <div class="row introduction">
              <div class="small-3 columns illustration float">
                <div class="overlay_illustration"><img src="img/overlay_picture.png" /></div>
                <div class="illustration_img"><img src="img/content/artist.jpg" /></div>
              </div>
              <div class="description small-6 columns float">
                <h3 class="artist_name">DAFT PUNK</h3>
                <p class="description_item genre">Electronic </p>
                <p class="description_item date">19 June 2013, 20h</p>
                <p class="description_item place">Shanghai Exhibition Center</p>
                <p class="description_item price">20 €</p>

                <div class="buttons actions">
                   <div class="button_jam action share green_stripped not_expanded">Spread it</div>

                  <div class="share_content">
                     <div class="addthis_toolbox addthis_default_style ">
                      <a class="addthis_button_preferred_1"></a>
                      <a class="addthis_button_preferred_2"></a>
                      <a class="addthis_button_preferred_3"></a>
                      <a class="addthis_button_preferred_4"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f600503653651b3"></script>
                  </div>

                   <div class="button_jam action book green_stripped"><a href="http://www.smartshanghai.com/smartticket/"  target="_blank" />Book it</a></div>
                </div>

                

              </div>
              <div class="small-3 columns map float">
                <img src="img/content/map.jpg" />
              </div>
            </div>

            <div class="row details">
              <div class="audios small-3 columns float">
                <ul>
                  <li class="song">
                    <div class="name">Derezzed - Album - 2013</div>
                    <div class="player">player here</div>
                  </li>
                  <li class="song">
                    <div class="name">Derezzed - Album - 2013</div>
                    <div class="player">player here</div>
                  </li>
                  <li class="song">
                    <div class="name">Derezzed - Album - 2013</div>
                    <div class="player">player here</div>
                  </li>
                  <li class="song">
                    <div class="name">Derezzed - Album - 2013</div>
                    <div class="player">player here</div>
                  </li>
                </ul>
              </div>
              <div class="biography small-6 columns float">
                <p>Daft Punk is an electronic music duo consisting of French musicians Guy-Manuel de Homem-Christo
                (born 3 January 1975).[2][3][4][5] Daft Punk reached significant popularity in the late 1990s house
                success in the years following, combining elements of house with synthpop.[3][4][6]</p> 

                <p>The duo is credited with producing songs that are considered essential in the French house scene. </p> 

                <p><a href="http://www.daftpunk.com" target="_blank">www.daftpunk.com</a>
              </div>
              <div class="place_informations small-3 columns float">
                <p class="address">
                  No.850 , Bocheng Rd. Pudong 
                  Pudong District, Shanghai, China
                  200341 SHANGHAI
                </p> 

                <p>TEL:+86-21-2022 5186</p> 
                <p>FAX:+86-21-2022 5110</p> 

              </div>
            </div>
            <div class="row">
              <div class="small-12 columns expand_button red_stripped">More Informations</div>
            </div>

          </div>
          <div class="small-1 columns height"></div>
        </div>

        

      </div>
	</div>
	
	<div class="footer">
		<div class="red_bar"></div> 
		<div class="text center">JAMENCO.COM&nbsp;&nbsp;//&nbsp;&nbsp;All RIGHTS RESERVED&nbsp;&nbsp;//&nbsp;&nbsp;A PROJECT BASED ON JAMENDO API&nbsp;&nbsp;//&nbsp;&nbsp;CODED BY <a href="http://www.michalkowalkowski.com/" target="_blank">MICHAL KOWALKOWSKI</a> & DESIGN BY <a href="http://www.creativegreg.com/" target="_blank"> CREATIVEGREG </a> </div>
	</div>
	

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  -->
  <script src="js/main.js"></script>

  <script>
    $(document).foundation();
  </script>
</body>
</html>
