body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.playlist {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #111111;
	cursor: pointer;
}

.playlist:hover {
	background: #f2f2f2;
}

.tracks {
	display: none;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #111111;
}